@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    @apply m-0 p-0;
}

body,
.header,
.footer {
    @apply flex flex-col items-stretch justify-start text-base;
    background: #523b75;
    color: #efe6fc;
    font-size: 16px;
    font-family: "Nunito";
}

body {
    justify-content: flex-start;

    >.container {
        min-height: calc(100vh - 150px);
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Martel";
    font-weight: 400;
}

.header {
    height: 100px;
    justify-content: center;

    > .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items:center;
    }
}

.footer {
    height: 50px;
    justify-content: center;
}


.footer {
    text-align:center;
}

.container {
    width: calc(100% - 2rem);
    padding: 0 1rem;
    max-width: 1200px;
    align-self: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    ul,
    li {
        margin-bottom:1rem;
    }
}

