.jim {
    position: relative;
    width: 15rem;
    height: 22rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;

    .hair {
        @apply absolute w-full z-40;
        top: -1rem;
        height: 28%;


        .top {
            @apply absolute h-full z-40 w-full overflow-hidden;
            width: 110%;
            left: -5%;

            .fill {
                @apply block absolute h-full w-full;
                background: #704c2f;
                height: 200%;
                border-radius: 30%;
            }
        }


        .right {
            @apply absolute right-0 rounded-full z-40;
            width: 1.65rem;
            height: 9rem;
            background: #704c2f;
            top: 52%;
            right: -5%;

        }

        .left {
            @apply absolute right-0 rounded-full z-40;
            width: 1.65rem;
            height: 9rem;
            background: #704c2f;
            top: 52%;
            left: -5%;

        }

        .skin {
            @apply absolute block rounded-full z-50;
            background: #FDD7C5;
            width: 44%;
            height: 43%;
            top: 79%;
            left: 6%;
            border-top: 3px solid #402815;
        }

        .curl {
            @apply absolute block rounded-full z-50;
            background: #704c2f;
            width: 50%;
            height: 57%;
            top: 67%;
            left: 50%;
            border-bottom: 2px solid #402815;
        }

    }

    .ear {
        @apply absolute z-50;
        background: #FDD7C5;
        width: 1.5rem;
        height: 5rem;
        border-radius: 25%;
        position: absolute;
        top: 40%;


        &.left {
            left: -1.35rem;
            transform: rotate(-5deg);
        }

        &.right {
            right: -1.35rem;
            transform: rotate(5deg);
        }
    }

    .head {
        width: 15rem;
        height: 24rem;
        border-radius: 37%;
        background: #FDD7C5;
        z-index: 10;
    }


    .eye {
        @apply z-50 absolute block overflow-hidden;
        width: 3.5rem;
        height: 1.7rem;
        border-radius: 100% / 75%;
        background: #fff;
        top: 40%;
        border-bottom: 1px solid #fbbc95;
        border-top: 1px solid #fbbc95;

        &.left {
            left: calc(50% - 5.25rem);
        }

        &.right {
            left: calc(50% + 1.75rem);
        }
    }

    .eyebrow {
        @apply absolute block overflow-hidden z-50;
        height: 0.75rem;
        width: 3.5rem;
        top: 33%;
        background: #704c2f;
        border-radius: 29%;
        &.left {
            transform: skew(15deg)rotate(1deg);
            left: calc(50% - 5.25rem);
        }

        &.right {
            transform: skew(-15deg)rotate(-1deg);
            left: calc(50% + 1.75rem);
        }
    }

    .iris {
        @apply block absolute rounded-full mx-auto z-30;
        background: rgb(59, 99, 157);
        background: linear-gradient(0deg, rgba(59, 99, 157, 1) 50%, rgba(53, 183, 221, 1) 100%);
        width: 1.75rem;
        height: 1.75rem;
        top: calc(50% - 0.85rem);
        left: calc(50% - 0.825rem);
    }

    .pupil {
        @apply absolute rounded-full z-50 block mx-auto;
        width: 1rem;
        height: 1rem;
        background: #000;
        top: calc(50% - 0.5rem);
        left: calc(50% - 0.45rem);

        &:after {
            content: '';
            @apply block absolute rounded-full;
            width: .5rem;
            height: .5rem;
            background: rgba(255, 255, 255, 0.85);
            top: -0.1rem;
            left: -0.1rem;
        }
    }

    .nose {
        position: absolute;
        top: 37%;
        left: 36%;
        height: 25%;
        z-index: 50;

        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 5.5rem 2rem;
            border-color: transparent transparent #FAC3AF transparent;
        }

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2rem 2rem 0 2rem;
            border-color: #E8B6A3 transparent transparent transparent;
            top: 100%;
        }
    }

    .mouth {
        @apply flex flex-col justify-start items-stretch absolute overflow-hidden z-50;
        top: 75%;
        width: 40%;
        height: 10.5%;
        left: 30%;
        border-top: 8px solid #c46f69;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        .mouth-inner {
            @apply block overflow-hidden right-0 left-0 rounded-full absolute w-full bg-white ;
            height: 185%;
            top: -100%;
            border-bottom: 15px solid #dd7e77;
        }
        .teeth {
            @apply block absolute right-0 left-0 w-full bg-white;
            box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
            height:1rem;
            border-radius:40%;
            top: 47%;
        }
    }

}
