.jim {
    @apply relative mx-auto flex flex-col items-stretch justify-start z-30;
    @include face(215px);

    &.in-header {
        @include face(50px);
    }

    &.home-page {
        @apply mt-8;
        @include face(185px); 
        
        @screen md {
            @apply mx-8;
            @include face(215px);
        }
        @screen lg {
            @apply mr-0;
        }
        @screen xl {
            @include face(260px);
        }
    }
       
    .hair {
        @apply absolute z-40 top-0;
        height: 28%;
        width: 96%;
        left: 2%;

        .top {
            @apply absolute z-40 overflow-hidden;
            width: 98%;
            height: 96%;
            left:1%;

            .fill {
                @apply block absolute h-full w-full;
                background: #704c2f;
                height: 200%;
                border-radius: 45%;
            }
        }

        .right {
            @apply absolute right-0 rounded-full z-40;
            width: 8%;
            height: 124%;
            background: #704c2f;
            top: 78%;
            right: 1%;
        }

        .left {
            @apply absolute right-0 rounded-full z-40;
            width: 8%;
            height: 124%;
            background: #704c2f;
            top: 78%;
            left: 1%;
        }

        .skin {
            @apply absolute block rounded-full z-50;
            background: #FDD7C5;
            width: 41%;
            height: 72%;
            top: 62%;
            left: 50%;
        }

        .curl {
            @apply absolute block z-50;
            width: 45%;
            height: 51%;
            left:5%;
            top: 66%;

            &:before {
                content: '';
                @apply block absolute w-full h-full rounded-full bottom-0 z-10;
                background: #704c2f;
            }

            &:after {
                content: '';
                @apply block absolute w-full rounded-full h-full z-0;
                background: #56402f;
                bottom:-4%;
            }
        }
    }

    .ear {
        @apply absolute z-50;
        background: #FDD7C5;
        width: 6%;
        height: 25%;
        border-radius: 25%;
        top: 39%;

        &.left {
            @apply left-0;
            transform: rotate(-5deg);
        }

        &.right {
            @apply right-0;
            transform: rotate(5deg);
        }
    }

    .head {
        @apply z-10 absolute;
        height:98%;
        top:2%;
        width:88%;
        left: 6%;
        border-radius: 39%;
        background: #FDD7C5;
        animation: swallow 12s linear 3s infinite;
        @keyframes swallow {
            0%{
                height:98%;
            }
            4%{
                height:96%;
            }
            12%{
                height:96%;
            }
            15%{
                height:98%;
            }
            100%{
                height:98%;
            }
        }
    }

    


    .eye {
        @apply z-50 absolute block overflow-hidden bg-white;
        width: 20%;
        height: 6.25%;
        border-radius: 100% / 75%;
        top: 44%;
        animation: blink 8s ease-out 1s infinite;

        @keyframes blink {
            0% {
                height: 6.25%;
                top: 44%;
            }

            2% {
                height: 0%;
                top: 47%;
            }

            4% {
                height: 6.25%;
                top: 44%;
            }

            100% {
                height: 6.25%;
                top: 44%;
            }
        }

        &.left {
            left: 19%;
        }

        &.right {
            left: 61%;
        }
    }

    .eyebrow {
        @apply absolute block overflow-hidden z-50;
        height: 3%;
        width: 20%;
        background: #704c2f;
        border-radius: 29%;

        &.left {
            transform: skew(15deg)rotate(1deg);
            left: 19%;
            top: 37.5%;
            transform:rotate(-1deg);
            animation: left-brow 15s linear 4s infinite;
        }

        &.right {
            transform: skew(-15deg)rotate(-1deg);
            left: 62%;
            top: 38%;
            transform:rotate(1.5deg);
            animation: right-brow 15s linear 4s infinite;
        }
    }

    @keyframes left-brow {
        0%{
            transform:rotate(-1deg);
            top: 37.5%;
        }
        2%{
            transform:rotate(-2deg);
            top: 36%;
        }
        44%{
            transform:rotate(-2deg);
            top: 36%;
        }
        46%{
            transform:rotate(-1deg);
            top: 37.5%;
        }
        100%{
            transform:rotate(-1deg);
            top: 37.5%;
        }
    }
    @keyframes right-brow {
        0%{
            transform:rotate(1.5deg);
            top: 38%;
        }
        2%{
            transform:rotate(2deg);
            top: 37%;
        }
        44%{
            transform:rotate(2deg);
            top: 37%;
        }
        46%{
            transform:rotate(1.5deg);
            top: 38%;
        }
        100%{
            transform:rotate(2.5);
            top: 38%;
        }
    }

    .iris {
        @apply block absolute rounded-full mx-auto z-30;
        background: rgb(59, 99, 157);
        background: linear-gradient(0deg, rgba(59, 99, 157, 1) 50%, rgba(53, 183, 221, 1) 100%);
        width: 50%;
        height: 120%;
        top: -10%;
        left: 25%;
    }

    .pupil {
        @apply absolute rounded-full z-50 block mx-auto bg-black;
        width: 20%;
        height: 50%;
        top: 25%;
        left: 41%;

        &:after {
            content: '';
            @apply block absolute rounded-full w-1/2;
            background: rgba(255, 255, 255, 0.85);
            height: 50%;
            top: -1%;
            left: -1%;
        }
    }

    .nose {
        @apply absolute z-50;
        top: 41%;
        left: 43%;
        height: 28%;
        width: 14%;
    }

    .nostrils {
        @apply block absolute bottom-0 w-full;
        height: 40%;
        bottom: -10%;
        width: 149%;
        left: -23%;
        background: #F2BEA5;
        background: radial-gradient(ellipse, #f2bea5 0%, #f2bea5 57%, #c99379 100%);

        border-radius: 50%;

        >span {
            @apply block absolute h-full;
            width: 25%;
            height: 120%;
            top: -8%;
            background: #FDD7C5;
        }

        span.left {
            left: -19%;
            transform: rotate(6deg);
        }

        span.right {
            right: -19%;
            transform: rotate(-6deg);
        }
    }

    .bridge {
        @apply absolute h-full z-40 rounded-br-full rounded-bl-full;
        width:80%;
        left:10%;
        right:10%;
        background: #fccdb8;
        background: linear-gradient(to bottom, #FDD7C5 0%, #fccdb8 100%);
        
    }

    .bridge-outer {
        @apply absolute w-full h-full z-30 rounded-br-full rounded-bl-full;
        background: #f2bea5;
        background: linear-gradient(to bottom, #FDD7C5 0%, #f2bea5 50%, #f2bea5 100%);
    }

    .mouth {
        @apply overflow-hidden relative flex flex-col justify-start items-stretch absolute z-50;
        top: 77%;
        width: 35%;
        height: 8%;
        left: 32.5%;
        
        animation: close-mouth 12s linear 3s infinite;
        
        @keyframes close-mouth {
            0%{            
                height: 8%;
                width: 35%;
                left: 32.5%;
                top: 77%;
            }
            4%{                
                height: 6%;
                width: 30%;
                left: 35%;
                top: 76.5%;
            }
            12%{
                height: 6%;
                width: 30%;
                left: 35%;
                top: 76.5%;
            }
            15%{
                height: 8%;
                width: 35%;
                left: 32.5%;
                top: 77%;
            }
            100%{
                height: 8%;
                width: 35%;
                left: 32.5%;
                top: 77%;
            }
        }

        .top-lip {
            @apply absolute overflow-hidden top-0 left-0 right-0 w-full z-40;
            height:27.5%;  
            .fill {
                @apply block w-full absolute left-0 right-0 rounded-50;
                background: #c46f69;
                height:200%;
                bottom:-100%;
            }     
        }

        .mouth-inner {
            @apply absolute left-0 right-0 block overflow-hidden z-30 right-0 left-0 w-full rounded-50 bg-gray-100;
            height:45%;
            top:5%;
            animation: close-mouth-inner 12s linear 3s infinite;
        }

        @keyframes close-mouth-inner {
            0%{height:45%;}
            4%{height:0%;}
            12%{height:0%;}
            15%{height:45%;}
            100%{height:45%;}
        }        

        .bottom-lip {
            @apply absolute overflow-hidden w-full left-0 right-0 z-20;     
            height:72.5%;
            top:27.5%;
            .fill {
                @apply block w-full absolute left-0 right-0 rounded-50;
                background: #dd7e77;
                height:200%;
                top:-100%;
            } 
        }
    }

}