.home-title {
    @apply text-green font-heading font-bold italic relative z-40;
    font-size: 6rem;
    line-height:5rem;
    margin-top:-2.25rem;
    @screen md {
        font-size:7rem;
        line-height:5rem;
    } @screen lg {
        font-size:9rem;
        line-height:7rem;
    } 
    @screen xl {
        font-size:11rem;
        line-height:9rem;
    }
}