.home-title {
    @apply text-theme-light font-heading font-bold m-0 relative z-40;
    font-size: 5rem;
    line-height:5rem;
    @screen md {
        font-size:6rem;
        line-height:6rem;
    } @screen lg {
        font-size:10rem;
        line-height:10rem;
    } 
    @screen xl {
        font-size:13.5rem;
        line-height:12rem;
        // margin-top:-3rem;
    }
}

.btn,
a.btn,
a.btn:visited {
    @apply text-theme-light  text-center font-normal no-underline overflow-hidden rounded-full px-4 py-2 z-20 relative inline-block border border-theme-light bg-transparent;
    @include transition;
    &:after {
        content: '';
        @include transition;
        @apply absolute bg-theme-light block z-10 h-full w-full left-0 right-0;
        top:100%;
    }
    > * {
        @apply relative z-20;
    }
    &:active,
    &:hover {
        @apply text-theme-dark no-underline;
    }
    &:active:after,
    &:hover:after {
        top:0;
    }
}

.overlay {
    @apply absolute top-0 right-0 left-0 bottom-0 w-full h-full block bg-theme-dark z-20;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 65%, rgba(255,255,255,1) 95%);   
}

